<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Blog</title>
    <link rel="stylesheet" href="styles/base-rules.css">
    <link rel="stylesheet" href="styles/layout.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Niconne&display=swap" rel="stylesheet">
</head>

<div class="navbar">
    <div class="navLink navLogo niconne font-46px">
        The Comfort Kitchen
    </div>
        <div class="navitems font-20px">
        <div class="navLink" >
            <a href="/">Home</a>
        </div>
        <div class="navLink">
            <a href="/blog">Blog</a>
        </div>
        <div class="navLink">
            <a href="/recipes">Recipes</a>
        </div>
        <div class="navLink">
            <a href="/contact">Contact</a>
        </div>
        <div class="navLink">
            <a href="/about">About</a>
        </div>
    </div>





</div>


<body>


    
