<%-include("partials/header.ejs")%>

<div class="c-main-hero">
    <div class="i-hero c-left-hero ">
        <div class="hero-h1">
            <h1>Eye Catching Headline</h1>
            <h2>Engaging Sub-headling</h2>
        </div>
        <div class="cta">
            <button type="button">Call to action</button>
        </div>

    </div>

    <div class="i-hero c-center-hero">
        
    </div>

    <div class="i-hero c-right-hero">

    </div>





</div>






<%-include("partials/footer.ejs")%>